{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>PPW - Cerita Lima</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-light mb-0" style="height: 608px;">
    <form method="POST" action="simpan">
     {% csrf_token %}
     Nama Matkul : {{ input_form.as_p }}
    <input type="submit" value="Submit">
    </form>

    <!-- <h1>TEST DULU</h1> -->
</div>

{% endblock content %}
