{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>PPW - Cerita Satu</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark mb-0">
    <div class="container text-center text-light">
      <img src="static\img\profil.png" width="415">
      <h1 class="display-4">Ahmad Aminullah Alfiyanto</h1>
      <p class="lead">-- 1906399064 --</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid bg-dark mb-0">
    <div class="container text-center text-light">
      <h1 class="display-4 mb-5">Tentang Saya</h1>
      <p class="lead"> Saya adalah seorang mahasiswa tingkat dua di Universitas Indonesia 
          dan mengambil program studi Sistem Informasi. Saya memiliki ketertarikan terhadap 
          dunia bisnis dan pasar modal. Harapan saya suatu saat nanti saya dapat menjadi salah 
          satu jajaran direksi perusahaan di Indonesia.</p>
      <p class="lead">  Hobi saya adalah menganalisa harga saham di Indonesia. Menurut saya, 
          saham adalah salah satu bentuk investasi yang mudah dipahami meskipun banyak metode 
          yang dapat digunakan dalam menganalisa sebuah saham.</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid bg-dark mb-0">
    <div class="container text-center text-light">
      <h1 class="display-4 mb-5">Riwayat Pendidikan</h1>
      <div class="row mt-5">
        <div class="col">
            <img src="static\img\patska.png" width="200px">
            <h3 class="display-5 mt-3">SMP Negeri 4 Surakarta</h3>
        </div>
        <div class="col">
            <img src="static\img\wikarya.png" width="200px">
            <h3 class="display-5 mt-3">SMA Negeri 3 Surakarta</h3>
        </div>
        <div class="col">
            <img src="static\img\makarapacil.png" width="200px">
          <h3 class="display-5 mt-3">Universitas Indonesia</h3>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid bg-dark mb-0">
    <div class="container text-center text-light">
      <h1 class="display-4 mb-5">Sosial Media</h1>
      <a href="https://www.facebook.com/emonyhwh/" class="fa fa-facebook" style="padding: 20px;font-size: 50px;width: 10px;" target="_blank"></a>
      <a href="https://www.twitter.com/_emonyhwh/" class="fa fa-twitter" style="padding: 20px;font-size: 50px;width: 60px;" target="_blank"></a>
      <a href="https://www.linkedin.com/in/aaminullah/" class="fa fa-linkedin" style="padding: 20px;font-size: 50px;width: 60px;" target="_blank"></a>
      <a href="https://www.instagram.com/aaminullah/" class="fa fa-instagram" style="padding: 20px;font-size: 50px;width: 50px;" target="_blank"></a>
    </div>
  </div>
{% endblock content %}
