{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}

{% block content %}
<div style="background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); height: 91vh; ">
  <h1 style="font-size: 72px; color: white; text-align: center; line-height: 400%; font-weight: bold;">WELCOME TO MY SITE!</h1>
  <div style="text-align: center;">
    <button type="button" class="btn btn-light" style="margin-right: 50px;"><a href="ceritasatu" style="font-size: 26px;">Story 1</a></button>
    <button type="button" class="btn btn-light" style="margin-left: 50px; margin-right: 50px"><a href="ceritatiga" style="font-size: 26px;">Story 3</a></button>
    <button type="button" class="btn btn-light" style="margin-left: 50px;"><a href="ceritalima" style="font-size: 26px;">Story 5</a></button>
    
  </div>
</div>
{% endblock content %}
